/* Base Styles */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Animated Gradient Background for Pages */
@keyframes gradientBackground {

  0%,
  100% {
    background-color: #240c4b;
  }

  35% {
    background-color: #000000;
  }

  50% {
    background-color: #2d10ad;
  }

  65% {
    background-color: #4b1da1;
  }
}

/* Shared Page Styles */
.home-page,
.product-page,
.checkout-page,
.login-page,
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: gradientBackground 15s ease infinite;
  color: #fff;
  padding: 20px;
}

/* Text Styles */
h1,
h2,
p {
  margin: 0 0 20px 0;
  font-size: 1.5em;
}

.loading {
  font-size: 2em;
}

/* Link Styles */
a,
.navbar-logo a {
  font-family: Arial, sans-serif;
  /* Added consistent font family */
  font-weight: bold;
  /* Added bold style */
  text-decoration: none;
  color: #fff;
  /* Adjusted to use white color for all links */
  transition: color 0.3s;
  /* Smooth transition for hover effects */
}

.navbar-links a:hover {
  color: #ddd;
}

/* Product List and Card Styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  margin: 16px;
  padding: 16px;
  max-width: 300px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-info img {
  width: 100%;
}

/* Forms and Inputs */
.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Message Styles */
.message {
  color: #f00;
  font-size: 1.2em;
  margin-top: 20px;
}

/* Navbar Styles */
.nav-bar {
  width: 100%;
  background-color: #074adb;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-links {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    display: block;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
  }
}